@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

/* common styles */
* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
.text-primary {
  color: #fd6e0a;
}
.btn-primary {
  height: 3rem;
  padding: 0px 1rem;
  /* font-weight: 700; */
  background-color: #fd6e0a;
  color: #fff;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
}

/* header and nav styles */
.header{
  height: 100vh;
  background: #fff8f3;
  background-image: url(images/header_bg.png), url(images/developer.png);
  background-repeat: no-repeat;
  background-position:  bottom right, left;
  /* background-blend-mode: darken; */
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 0rem 12rem;
  padding: 3rem 0rem;
}
.nav-title {
  font-weight: 800;
  font-size: 45px;
}
nav ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-left: 3rem;
  font-size: 1rem;
}

/* banner styles */
.banner {
  margin: 0 12rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner-title{
  font-weight: 700;
  font-size: 3rem;
}
.banner-sub-title{
  font-weight: 600;
  font-size: 1.5rem;
}
.banner-desc{
  color: #fd6e0a;
  font-size: 1.125rem;
  margin-bottom: 1.8rem;
}

/* main section */
main{
  max-width: 1140px;
  margin: 0 auto;
}

/* about section styles */
.about{
  margin: 8rem 0rem;
  padding: 5rem ;
  background-color: #fff8f3;
  border-radius: 10px;

}
.section-title{
  text-align: center;
  margin-bottom: 30px;
}
.section-desc{
  columns: #757575;
  margin-bottom: 30px;
}