@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

/* common styles */
* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: #5a514b;
  overflow-x: hidden;
}
.text-primary {
  color: #ea9b62;
}
.btn-primary {
  height: 3rem;
  padding: 0px 1rem;
  font-weight: 700;
  background-color: #ea9b62;
  color: whitesmoke;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  filter: drop-shadow(2px 1px 4px #e2e0de);
}


a {
  text-decoration: none;
}
/* header and nav styles */
.header {
  height: 100vh;
  background: #fff8f3;
  background-image: url(images/bg.png);
  /* background-blend-mode: darken; */
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 0rem 12rem;
  padding: 3rem 0rem;
}
.nav-title {
  font-weight: 800;
  font-size: 2.5rem;
  text-shadow: 1.8px 1px 1px rgba(90, 81, 75, 0.6);
  letter-spacing: -1px;
  font-family: "Roboto Mono", monospace;
}
nav ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-left: 3rem;
  font-size: 1rem;
  text-shadow: 0px 1.5px 1.5px rgba(90, 81, 75, 0.6);
}

/* banner styles */
.banner {
  height: 70vh;
  margin: 0 12rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner-left {
  display: flex;
  align-items: start;
  width: 50%;
}
.banner-title {
  font-weight: 700;
  font-size: 2rem;
  /* letter-spacing: -1px; */
  font-family: "Roboto Mono", monospace;
}
.banner-sub-title {
  font-weight: 800;
  font-size: 1rem;
}
.banner-sub-title.hand {
  font-size: 3rem;
  margin-right: 1rem;
}
.banner-desc {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: lighter;
  margin-top: 1rem;
}
.banner-right {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  margin-left: 15rem;
  gap: 2rem;
}
.banner-right div {
  width: 100px;
  height: 100px;
  /* height: 100px; */
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  filter: drop-shadow(2px 1px 4px #e2e0de);
  /* transform: scale(1); */
}
.banner-right div:nth-child(2) {
  margin-left: 10rem;
  margin-top: -50px;
  transform: scale(1.3);
}
.banner-right div:nth-child(3) {
  margin-left: 15rem;
  margin-top: 50px;
}
.banner-right div:nth-child(3) img {
  width: 42%;
  height: 45%;
  border-radius: 5%;
}
.banner-right div:nth-child(4) {
  margin-left: 7rem;
}
.banner-right div img {
  width: 45%;
  height: 45%;
  border-radius: 5%;
}

/* main section */
main {
  max-width: 1140px;
  margin: 0 auto;
}

/* about section styles */
.about,
.skills,
.resume {
  margin: 8rem 0rem;
  padding: 8rem;
  background-color: rgb(255, 248, 243);
  border-radius: 10px;
  text-align: center;
}
.section-title {
  text-align: center;
  margin-bottom: 50px;
}
.section-desc {
  /* color: #757575; */
  font-size: 1rem;
  font-weight: lighter;
  margin-bottom: 50px;
}
.about-info-container {
  display: flex;
  justify-content: space-around;
}
.about-info-container div span {
  font-weight: lighter;
}
.about-info-container div p {
  font-weight: bolder;
}

/* skills & experiences section */
.skills {
  background-image: url(images/dot.png);
  background-repeat: no-repeat;
  background-position: 51% 25%;
}
.tech-skills {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  width: 70%;
  margin: auto;
}
.tech-skills div {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* resume section  */
.resume {
  text-align: left;
  background: linear-gradient(
      rgba(255, 248, 243, 0.95),
      rgba(255, 248, 243, 0.95)
    ),
    url(images/develop.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: cover, 40% 45%;
  /* background-blend-mode:difference; */
}
.resume-content {
  display: flex;
  justify-content: space-evenly;
  /* gap: 1rem; */
}
.resume-item {
  margin: 2rem 0rem;
}
.resume-item .title {
  color: #5a514b;
  font-weight: 700;
  font-size: 20px;
}
.resume-item .sub-title {
  color: #5a514b;
  font-weight: 200;
  font-size: 1rem;
  margin: 1rem 0rem;
}
.resume-button {
  margin-top: 50px;
  text-align: center;
}

footer {
  background: #fff8f3;
  background-image: url(images/msg.png);
  background-repeat: no-repeat;
  background-position: 15% 20%;
  display: flex;
  gap: 5rem;
  padding: 6rem 12rem;
}
footer div {
  width: 50%;
  text-align: left;
}
footer div h3 {
  font-size: 2rem;
}
.left-aligned {
  text-align: left;
}
.social-icons {
  margin: 1rem 0rem;
}
.social-icons img {
  width: 20px;
  height: 20px;
  margin-right: 1rem;
}
footer input[type="text"],
input[type="email"],
textarea {
  margin-bottom: 20px;
  border: 0;
  width: 100%;
  padding: 18px;
}
.copyright {
  margin-top: 46.5vh;
  font-weight: lighter;
  font-size: 14px;
}
